/*Encabezado*/
.logo{
    width: 35px;
    border-radius: 100px;
}
.btn{
    margin-left: 10px;
    margin-right: 10px;
}
.titulos-txt{
    font-size: 35px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.card{
    margin: 10px;
}