/*Encabezado*/
.logo{
    width: 35px;
    border-radius: 100px;
}
.nav-link{
    margin: 10px;
    transition: transform 0.2s ease;
}
.nav-link:hover{
    transform: scale(1.10);
}
/*Productos*/
.titulos-txt{
    font-size: 35px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.card{
    margin: 10px;
    transition: transform 0.2s ease;
}
.card p{
    text-align: justify;
}
.card:hover{
    transform: scale(1.01);
}