<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyTraders - Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/productos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="fondo">

    <!--Encabezado-->
    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-name" href="pagprincipal.html"><img src="{% static 'app/img/Logo.png' %}" alt="" class="logo">Toy<span style="color: #9c6cf0;">Traders</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <br>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Lupa</button>
                    </form>
                </ul>
                <div class="dropdown">
                    <a class="nav_link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown_item" href="productos.html#Anime">Anime</a></li>
                        <li><a class="dropdown_item" href="productos.html#HyV">Heroes y Villanos</a></li>
                        <li><a class="dropdown_item" href="productos.html#Videojuegos">Videojuegos</a></li>
                    </ul>
                </div>
                <a class="nav_link" href="login.html">Login</a><br>
                <a class="nav_link" href="carrito.html" role="button">Carrito</a>
            </div>
        </div>
    </nav>
    <!--Productos-->
    <p id="#Anime" class="titulos-txt">Anime</p>
    <div class="cards">
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/A1.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Zenitsu</h5>
                <p class="card-text">Figura del cazador de demonios con la respiracion del rayo.</p>
                <div class="precio">$20.000</div><br>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href="producto.html"><img src="{% static 'app/img/productos/A2.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Luffy gear five</h5>
                <p class="card-text">Figura del personaje de one piece Monkey D Luffy.</p>
                <div class="precio">$75.000</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/A3.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Sukuna</h5>
                <p class="card-text">Figura del rey de las maldiciones.</p>
                <div class="precio">$45.000</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
    </div>
    <p id="#HyV" class="titulos-txt">Heroes y Villanos</p>
    <div class="cards">
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/H1.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Venom</h5>
                <p class="card-text">Figura del Simbionte extraterrestre con fuerza sobrehumana.</p>
                <div class="precio">$40.000</div><br>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/H2.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Black panther</h5>
                <p class="card-text">Figura del superheroe Rey de Wakanda con habilidades sobrehumanas.</p>
                <div class="precio">$20.000</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/H3.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Superman</h5>
                <p class="card-text">Figura del Heroe Icono de DC Comics con poderes kryptonianos.</p>
                <div class="precio">$25.990</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
    </div>
    <p id="Videojuegos" class="titulos-txt">Videojuegos</p>
    <div class="cards">
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/V1.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Yasuo</h5>
                <p class="card-text">Figura del campeon de LoL Yasuo.</p>
                <div class="precio">$100</div><br>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/V2.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Thresh</h5>
                <p class="card-text">Figura del campeon de LoL Thresh.</p>
                <div class="precio">$175</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 17rem;">
            <a href=""><img src="{% static 'app/img/productos/V3.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lux</h5>
                <p class="card-text">Figura del campeon de LoL Lux.</p>
                <div class="precio">$23</div>
                <div class="btnagregar"><button class="agregar">Agregar</button></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
