{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarProducto(id){
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Eliminar",
            "reverseButtons": true,
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar-producto/"+id+"/";
            }
        });
    }
</script>
{% endblock %}

{% block contenido %}
{% load humanize %}

<br><br><br>
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2>Listado de Productos</h2>
                <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Genero</th>
                        <th>Opciones</th>
                    </tr>

                    {% for p in entity %}
                        <tr>
                            <td><img src="{{ p.foto.url }}" alt="{{ producto.nombre }}" width="100" height="100"></td>
                            <td>{{ p.nombre }}</td>
                            <td>{{ p.descripcion }}</td>
                            <td>${{ p.precio | intcomma }}</td>
                            <td>{{ p.id_genero }}</td>
                            <td>
                                <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                                <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <div>
                    {% include 'app/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}