@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fondo{
    background-color:#3b3050;
}
/*Encabezado*/
.navbar-name{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 30px;
    font-weight: 500;
}
.logo{
    width: 35px;
    border-radius: 100px;
}
.dropdown_item{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.dropdown_item:hover{
    color: #9c6cf0;
}
.nav_link{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.nav_link:hover{
    color: #9c6cf0;
}
.buton{
    border: 0;
    background: transparent;
    font-size: 18px;
}
.buton:hover{
    color: #9c6cf0;
}
/*btn volver*/
.c_volver{
    margin: 15px;
}
.btn_volver{
    margin: 10px;
    padding: 3px 45px;
    background-color: #9c6cf0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 35px;
}
/*"""Body"""*/
.container{
    display: flex;
    flex-direction: column;
    background:white;
    border-radius: 30px;
    margin-top: 25px;
}
/*Imganes y contenedores*/
.img-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.img-principal{
    width: 225px;
    margin: 5px;
}
.sub-img-c{
    display: flex;
    justify-content: center;
}
.sub-img{
    width: 50px;
    margin: 5px;
}
/*Informacion del producto*/
.informacion-p{
    margin: 10px;
}
.producto-txt{
    text-align: center;
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: 500;   
}
.detalle-txt{
    text-align: justify;
    margin: 15px;
}
.precio{
    padding-left: 10px;
    text-align: center;
}
.btn-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-pr{
    width: 200px;
    size: 200px;
    margin: 10px;
    text-align: center;
    background-color: #9c6cf0;
    color: white;
    text-decoration: none;
    border-radius: 35px;
}
@media screen and (min-width: 800px){
    .container{
        flex-direction: row;
    }
    .btn-compra{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}