{% extends 'app/base.html'%}

{% load static %}

<!-- CSS -->
{% block css %}
    <link rel="stylesheet" href="{% static 'app/CSS/pagprincipal.css' %}">
{% endblock %}

<!--contenido-->
{% block contenido %}
    <!--Carousel-->
    <div class="carousel-c">
        <div id="carouselExampleIndicators" class="carousel slide w-100 position-absolute start-50 translate-middle-x">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'productos' %}"><img src="{% static 'app/Img/1.png' %}" class="d-block w-100" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'productos' %}"><img src="{% static 'app/Img/2.png' %}" class="d-block w-100" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'productos' %}"><img src="{% static 'app/Img/3.png' %}" class="d-block w-100" alt="..."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--Destacados-->
    <p class="destacados-txt">Destacados</p>
    <div class="cards">
        <div class="card shadow rounded-4" style="width: 16rem;">
            <a href="{% url 'producto' %}"><img src="{% static 'app/Img/productos/A2.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Luffy gear five</h5>
                <p class="card-text">Figura del personaje de one piece Monkey D Luffy. <br><br><br> $999.999.999</p>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 16rem;">
            <a href="#"><img src="{% static 'app/Img/productos/H3.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Superman</h5>
                <p class="card-text">Figura del superhe{% url 'productos' %}roe superman cuyo real nombre es martin. <br><br> $999.999.999</p>
            </div>
        </div>
        <div class="card shadow rounded-4" style="width: 16rem;">
            <a href="#"><img src="{% static 'app/Img/productos/V2.png' %}" class="card-img-top rounded-4 border-bottom border-black" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Thresh</h5>
                <p class="card-text">Figura del campeon de LoL Thresh. <br><br><br> $999.999.999</p>
            </div>
        </div>
    </div>
{% endblock %}